*{
    box-sizing: border-box;
}
.header-wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 98.33px;
    padding-right: 31px;

}

.left-header a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    color: #FA793C;
}

.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation nav ul{
    display: flex;
    justify-content: space-around;
    width: 252px;
    margin-right: 31px;
}

/* section */
.bg-text h3{
    font-family: kanit;
    font-weight: 400;
    font-size: 50px;
    line-height: 74.75px;
}
.background{
    background-image: url(../images/bacground.png);
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* object-fit: cover; */
}

.bg-text{
    width: 532px;
    color: white;
}


.bg-text p{
    font-family: kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.92px;
    margin-top: 21px;

}
.right-section{
    background-color: #fff;
    width: 440px;
    padding: 27px 41.5px 33px 38.5px;
 
}
.title{
    display: flex;
    justify-content:flex-start;

}


.title h3{
    font-family: kanit;
    font-weight: 500;
    font-size: 30px;
    line-height: 44.85px;
   
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header h3{
    font-family: kanit;
    font-size: 30px;
    font-weight: 600;
    line-height: 44.85px;
}

.section-text h4{
    color:#FA793C;
    font-family: kanit;
    font-size: 20px;
    font-weight: 500;
    line-height: 29.9px;
    margin-top: 17px;
    margin-bottom: 8px;
}

.section-text p{
    font-family: kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.92px;

}
/* section2 */

section:nth-child(2){
    padding: 33px 130px 131px 130px;
}

.discovery{
    display: flex;
    /* justify-content: center; */
    column-gap: 20px;
    align-items: center;
}

.discovery-block{
    width: 380px;
    border: 1px solid black;
}

.discovery-text{
    width: 339px;
}

.discovery-text span{
    font-family: kanit;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.88px;

}

.discovery-text p{
    font-family: kanit;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.92px;

}

/* section 3 */

.relative-div{
    position: relative;
}

.absolute-div{
    position: absolute;
    color:white;
    top: 232px;
    left: 36px;
    width: 707px;
}

.absolute-div h3{
    font-family: kanit;
    font-weight: 500;
    font-size: 30px;
    line-height: 44.85px;
}

.absolute-div p{
    font-family: kanit;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.92px;
}
.container-new {
    max-width: 1179px;
    width: 90%;
    margin: 0 auto;
}
.flex-wraper {
    display: flex;
    column-gap: 20px;
}


.left-wraper {
    width: 779px;
    display: flex;
    flex-direction: column;
    row-gap: 86px;
}
.left-wraper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-wraper {
    width: 380px;
    flex-direction: column;
    row-gap: 23px;
    display: flex;
}
.wr-child {
    height: 280px;
    border:2px solid #000;
    width: 100%;
}
.wr-child img{
    width: 100%;
}
.left-wraper div {
    height: 400px;
}


.wr-child-text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    color:black;
    width: 339px;
   top: 128px;
    left: 36px;
}

.wr-child-text h3{
    font-family: kanit;
    font-weight: 500;
    font-size: 24px;
    line-height: 35.88px;

}

.wr-child-text p{
    font-family: kanit;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.92px;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 108px;
    
}

.flex img{
    width: 24px;
}

/* footer */
.foot{
    margin-top: 71px;
    color: #fff;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

